@font-face
	font-family 'freeView-icon'
	src url('fonts/iconfont.woff') format('woff'), url('fonts/iconfont.ttf') format('truetype')
	font-weight normal
	font-style normal
[class^='fv-icon-'], [class*=' fv-icon-']
	/* use !important to prevent issues with browser extensions that change fonts */
	display inline-block
	speak none
	font-family 'freeView-icon' !important
	font-style normal
	font-weight normal
	font-variant normal
	line-height 1
	vertical-align baseline
	text-transform none
	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
// 字体图标
.fv-icon-info:before
	content '\e69b'
.fv-icon-success:before
	content '\e61b'
.fv-icon-warning:before
	content '\e612'
.fv-icon-error:before
	content '\e703'
.fv-icon-close:before
	content '\e616'
.fv-icon-search:before
	content '\e605'
.fv-icon-refresh:before
	content '\e62b'
.fv-icon-next:before
	content '\e61a'
.fv-icon-back:before
	content '\e704'
.fv-icon-upload:before
	content '\e634'
.fv-icon-delete:before
	content '\e602'
.fv-icon-edit:before
	content '\e60f'
.fv-icon-share:before
	content '\e643'
.fv-icon-loading
	animation rotating 2s linear infinite
.fv-icon-loading:before
	content '\e67c'
// 旋转动画
@keyframes rotating
	0%
		transform rotateZ(0deg)
	100%
		transform rotateZ(360deg)