@import 'utils.styl'
.fv-message
	display flex
	align-items center
	position fixed
	top 20px
	left 0
	right 0
	max-width 300px
	margin auto
	padding 15px 20px
	transition 0.5s
	border-radius $--border-radius
	color #FFFFFF
	border 1px solid $--color-primary - #111111
	background-color rgba($--color-primary)
	&--info
		border 1px solid $--color-info - #111111
		background-color $--color-info
	&--success
		border 1px solid $--color-success - #111111
		background-color $--color-success
	&--warning
		border 1px solid $--color-warning - #111111
		background-color $--color-warning
	&--error
		border 1px solid $--color-error - #111111
		background-color $--color-error
	&.is-center
		justify-content center
	&.is-fullScreen
		top 0
		max-width none
		border-radius 0 0 0 0
	[class^='fv-icon-']
		margin-right 10px
		color #FFFFFF
	p
		margin 0
		padding 0
.fv-message__content
	font-size 14px
	line-height 1
	color #FFFFFF
.fv-message__closeBtn
	position absolute
	top 50%
	right 0
	width 20px
	padding 5px
	margin-right 5px
	cursor pointer
	text-align center
	transform translateY(-50%)
	color #FFFFFF
.fv-message-fade-enter, .fv-message-fade-leave-active
	opacity 0
	transform translateY(-100%)