@import 'utils.styl'
.fv-message
	position fixed
	transition 0.5s
	max-width 500px
	top 0
	left 0
	right 0
	margin auto
	border-radius 0 0 $--border-radius $--border-radius
	&--info
		border 1px solid $--color-primary - #111111
		background-color $--color-primary
	&--success
		border 1px solid $--color-success - #111111
		background-color $--color-success
	&--warning
		border 1px solid $--color-warning - #111111
		background-color $--color-warning
	&--error
		border 1px solid $--color-error - #111111
		background-color $--color-error
	&.is-center
		text-align center
	&.is-fullScreen
		max-width none
		border-radius 0 0 0 0
	.fv-icon-
		&info, &success, &warning, &error
			position absolute
			top 50%
			left 0
			transform translateY(-50%)
			width 50px
			line-height 20px
			text-align center
			font-size 20px
			color #FFFFFF
			&:before
				padding 10px
.fv-message__content
	padding 10px 0px
	margin 0 35px 0 50px
	line-height 20px
	color #FFFFFF
	font-size 14px
.fv-message__closeBtn
	position absolute
	top 50%
	right 0
	width 20px
	padding 5px
	margin-right 5px
	cursor pointer
	text-align center
	transform translateY(-50%)
	color #FFFFFF
.fv-message-fade-enter, .fv-message-fade-leave-active
	transform translateY(-100%)